<% const page ={
	id: 'about',
	dir: '../'
} ; %><%- include(page.dir+'_inc/_header', {data: json[page.id], page:page}) %>



<%- include(page.dir+'_inc/_footer', {data: json[page.id], page:page}) %>
